$container-width-col:33.33%;
$container-col-color:purple;
$global-margin:0;
$global-padding:0;
$labYellow: rgb(247, 182, 23);
$labGray: rgb(43, 43, 43);
$lab-color:white;
$row-space:4%;

$subtitle-font: 20px Helvetica;
$simple-text: 1em Helvetica;

$col-1:8.33%;
$col-2:16.666667%;
$col-3:25%;
$col-4:33.333333%;
$col-5:41.666667%;
$col-6:50%;
$col-7:58.33%;
$col-8:66.66%;
$col-9:75%;
$col-10:83.33%;
$col-11:91.66%;
$col-12:100%;

@mixin list-item ($padd) {
	border: 1px solid black;
	margin:($padd);
	padding: ($padd);
	background-color: $labGray;
	color:white;
	text-align:left;
}

@mixin aside-inverse ($padd) {
	background-color: $labGray;
	color:white;
	font:$simple-text;
	padding: $padd;
	text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
	margin:$global-margin;
	padding:$global-padding;
}

#main-container {
	width: 100%;
}

.nav {
	background-color: $labYellow;
	color:$lab-color;
	padding: 20px;
	font:$subtitle-font;
}

h1, h2, h4 {
	font:$subtitle-font;
}

 div p, div ol, div ul {
	font:$simple-text;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
	width: 100%;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

[class*="small-"] {
  min-height: 8px;
  padding: 12px;
  float: left;
}
[class*="medium-"] {
	min-height: 8px;
	padding: 12px;
	float: left;
}
[class*="large-"]{
	min-height: 8px;
	padding: 12px;
	float: left;
}
.large-1 {
	width:$col-1;
}
.large-2 {
	width:$col-2;
}
.large-3 {
	width:$col-3;
}
.large-4 {
	width:$col-4;
}
.large-5 {
	width:$col-5;
}
.large-6 {
	width:$col-6;
}
.large-7 {
	width:$col-7;
}
.large-8 {
	width:$col-8;
}
.large-9 {
	width:$col-9;
}
.large-10 {
	width:$col-10;
}
.large-11 {
	width:$col-11;
}
.large-12 {
	width:$col-12;
}

.colum-aside {
	list-style: none;
	ul {
		padding:0;
		margin-right:5%;
	}
	li {
		@include list-item (3px);
	}

	li:last-child {
		background-color: $labYellow;
	}

	li:hover {
		background-color: $labYellow;
	}
}

.column-aside-right {
	@include aside-inverse (2px);
}

footer {
	background-color: $labGray;
	color:white;
}

@media (min-width:320px) and (max-width: 768px){
	.small-1 {width:$col-1}
	.small-2 {width:$col-2}
	.small-3 {width:$col-3}
	.small-4 {width:$col-4}
	.small-5 {width:$col-5}
	.small-6 {width:$col-6}
	.small-7 {width:$col-7}
	.small-8 {width:$col-8}
	.small-9 {width:$col-9}
	.small-10 {width:$col-10}
	.small-11 {width:$col-11}
	.small-12 {width:$col-12}
}

@media (min-width: 768px) and (max-width: 1200px){
	.medium-1 {width:$col-1}
	.medium-2 {width:$col-2}
	.medium-3 {width:$col-3}
	.medium-4 {width:$col-4}
	.medium-5 {width:$col-5}
	.medium-6 {width:$col-6}
	.medium-7 {width:$col-7}
	.medium-8 {width:$col-8}
	.medium-9 {width:$col-9}
	.medium-10 {width:$col-10}
	.medium-11 {width:$col-11}
	.medium-12 {width:$col-12}
}
